<div class="row mt-3">
    <h2 class="text-light armyfont ml-3">Clients with low session count:</h2>
    <div id="client-list" class="text-light markfont shadowed">
    </div>
</div>

<div class="row mt-3">
    <h2 class="text-light armyfont ml-3">Upcoming Sessions:</h2>
</div>
<div class="row mt-0">
    <div id="calendar" class="frosty text-light"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        slotDuration: '00:30',
        plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
       defaultView: 'timeGridFourDay',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridFourDay,timeGridDay,listMonth'
        },
        views: {
            timeGridFourDay: {
            type: 'timeGrid',
            duration: { days: 4 },
            buttonText: '4 day'
            }
        },
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        events: [
        {{#each schedule}}
        {
        title: `{{this.title}}`,
        start:  `{{moment this.start lang="en" format="YYYY-MM-DDTHH:mm"}}`,
        end: `{{moment this.end lang="en" format="YYYY-MM-DDTHH:mm"}}`,
        },
        {{/each}}
          
        ]
    });
    var slotDuration = calendar.getOption('slotDuration')
console.log(slotDuration);
  
    calendar.render();
  });
</script>