<div class="container">
    <h1>Single Trainer</h1>



    <h2>Upcoming Sessions:</h2>
    <ul>
        {{#each schedule}}
        <li>
            {{this.schedule_date}}
        </li>
        
        {{/each}}
    </ul>


</div>
