<div class="container">
    <h1>Single Trainer</h1>



    <h2>Upcoming Sessions:</h2>
    <ul>
        {{#each schedule}}
        <li>
            {{this.Client.first_name}} 
            {{this.Client.last_name}}: 
            {{moment this.schedule_date lang="en" format="dddd, DD MMMM YYYY HH:mm A"}}

        </li>
        
        {{/each}}
    </ul>


</div>
