<div class="row mt-3">
    <h2 class="text-light armyfont ml-3">Upcoming Sessions:</h2>
    <div id="calendar" class="h-50 d-inline-block text-center text-light markfont shadowed"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [
        {{#each schedule}}
        {
        title: `{{this.title}}`,
        start:  `{{moment this.start lang="en" format="YYYY-MM-DDTHH:mm"}}`,
        end: `{{moment this.end lang="en" format="YYYY-MM-DDTHH:mm"}}`,
        },
        {{/each}}
          
        ]
    });
  
    calendar.render();
  });
</script>