#calendar {
    max-width: 800px;
    /* max-height: 500px; */
    margin: 0 auto;
}
.bg1 {
    background-image: url("/static/images/gym1.jpg");
    
}
.bg2 {
    background-image: url("/static/images/gym2.jpg");
}
.bg3 {
    background-image: url("/static/images/gym3.jpg");
}
.bg4 {
    background-image: url("/static/images/gym4.jpg");
    background-position: center;
    background-size: 100%;
}
.bg5 {
    background-image: url("/static/images/gym5.jpg");
}
.bg6 {
    background-image: url("/static/images/gym6.jpg");
}

.bgstyles {
    /* height: 100vh;
    width: 100%;
    min-height: 350px; */
    background: no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* h1{
    color: blue;
} */
.logofont { 
    font-family: 'Gugi', cursive;
}
.markfont { 
    font-family: 'Permanent Marker', cursive;
}
.armyfont { 
    font-family: 'Special Elite', cursive;
}
.speedfont { 
    font-family: 'Faster One', cursive;
}

a {
    color: white;
    text-decoration: none;
  }
a:hover {
    text-decoration: none;
}
a.makearmy:hover {
    text-decoration: none;
    color: rgb(0, 68, 255);
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}
.transbg {
    /* background-color: rgba(0, 0, 0, 0.445); */
    background-color: rgba(0, 0, 0, 0.445);    
}

.shadowed {
    text-shadow: 2px 2px 4px #000000;
}

.table{
    color: white
}

.action{
    margin: 5px;
    font-size: large;
}

/* schedule - date time format */
.add{
    color: white;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}