<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Gugi|Permanent+Marker|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />


    {{!-- Calendar --}}
    <link rel="stylesheet" href="/node_modules/@fullcalendar/core/main.css" type="text/css" />
    <link rel="stylesheet" href="/node_modules/@fullcalendar/daygrid/main.css" type="text/css" />
    <link rel="stylesheet" href='/node_modules/@fullcalendar/timegrid/main.css' type="text/css" />
    <link rel="stylesheet" href='/node_modules/@fullcalendar/list/main.css' type="text/css" />

    <script src='/node_modules/@fullcalendar/core/main.js'></script>
    <script src='/node_modules/@fullcalendar/daygrid/main.js'></script>
    <script src='/node_modules/@fullcalendar/timegrid/main.js'></script>
    <script src='/node_modules/@fullcalendar/list/main.js'></script>
    <script src='/node_modules/@fullcalendar/interaction/main.js'></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        
<title>FlexTrainer | Solo Edition</title>
</head>

<body class="bg1">

<div class="container">
    {{!--Omar: Navbar (Bootstrap) --}}
    <div class="row mb-5 mp-5">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand logofont" href="/"><span class="text-primary">Flex</span><span class="text-warning">Trainer</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse logofont " id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-warning makearmy" href="/clients/all">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning makearmy" href="/sessions/all">Sessions</a>
                </li>            
                <li class="nav-item">
                    <a class="nav-link text-warning makearmy" href="/packages/all">Packages</a>
                </li>
                <li class="nav-item">
                    <a id="infomodal"class="nav-link text-warning makearmy" href="#">About FlexTrainer</a>
                </li>            
                </ul>
            </div>
        </div>
    </nav>
    </div>

    {{!-- Omar: Body DIV .. style classes applied --}}
    <div class="row transbg mt-3" >
        <div class="col-md-12 mt-2">
            {{{ body }}}
        </div>
    </div>
    
</div>

    {{!-- Info/Demo Modal --}}

<div class="modal fade bg4" id="displayModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg bg-none" role="document">
        <div class="modal-content rounded" style="background-color: rgba(58, 58, 58, 0.445)">            
            <div class="modal-header">
              <h1 class="modal-title logofont ml-5 text-primary shadowed ">Flex<span class="text-warning">Trainer</span></h1><br>
              <h6 class="text-light markfont shadowed">Work Less, Workout More</h6>
            </div>   
            <div class="modal-body text-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> 
                    </ol>
                    <div class="carousel-inner">


                      <div id="info1" class="carousel-item active text-white text-center">
                          <div class="" style="background-color: rgba(0, 0, 0, 0); width: 70%; min-height: 250px">
                            <h3 class="float-center text-white armyfont">Manage your work flow in a quick and effective way with FlexTrainer.</h3>
                          </div>
                      </div>

                      <div id="info2" class="carousel-item text-white">
                          <div class="float-center" style="background-color: rgba(0, 0, 0, 0); width: 70%; min-height: 250px">
                            <h3 class="text-white armyfont">Quickly access your clients data and adjust their individual workout routines, scheduling, and more.</h3>
                          </div>
                      </div>

                      <div id="info3" class="carousel-item text-white">
                          <div class="float-center" style="background-color: rgba(0, 0, 0, 0); width: 70%; min-height: 250px">
                            <h3 class="text-white armyfont">Create workout packages and customize sessions, packages and pricing in one go.</h3>
                          </div>
                      </div>

                      <div id="info4" class="carousel-item text-white">
                          <div class="float-center" style="background-color: rgba(0, 0, 0, 0); width: 70%; min-height: 250px">
                            <h3 class="text-white armyfont">Designed and built from the ground up to be mobile first. Access FlexTrainer's powerful tools on the go.</h3>
                          </div>
                      </div>


                      <div id="info5" class="carousel-item text-white">
                          <div class="float-center" style="background-color: rgba(0, 0, 0, 0); width: 70%; min-height: 250px">
                            <h3 class="text-white armyfont">FlexTrainer gives you the tools to allow you to work less, so you can workout more.</h3>
                          </div>
                      </div>


                    </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>                   
                </div>

            </div>
            
            <div class="modal-footer item-center">
                <a href="/" class="btn btn-lg btn-outline-dark btn-block text-light logoright"><h3>Back to <span class="logofont text-primary">Flex</span><span class="text-warning">Trainer</span></h3></a>
            </div>
        </div>
    </div>
</div>




    {{!-- Scripts --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $("#infomodal").on("click", function(event) {
            $('#displayModal').modal('show'); 
        })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>