<div class="modal fade" id="purchase-package" tabindex="-1" role="dialog" aria-labelledby="packageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="packageModalLabel">Purchased Package</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="formgroup">
                    <label for="sel1">Select purchased package:</label>
                    <select class="form-control" id="selPkg">
                        {{#each package}} 
                        <option>
                            {{this.workout_type}}, {{this.session_count}}, $ {{this.price}}
                        </option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="new-package" class="btn btn-primary">Add Package</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
